<style type="text/css">
.img-border {
  border: 5px solid white;
}
</style>
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('<%= asset_url('seller-area.jpg') %>');"></div>
<div class="profile-page main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img src="<%= avatar_url(current_user) %>" alt="Circle Image" class="img-border rounded-circle img-fluid">
            </div>
            <div class="name">
              <h3 class="title"><%= current_user.name %></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="description text-center">
        <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="center">Image</th>
            <th class="center">Name</th>
            <th class="center">Summary</th>
            <th class="center">Price</th>
            <th class="center">Action</th>
          </tr>
          <% @listings.each do |listing| %>
            <tr>
              <td><%= image_tag listing.image.url(:thumb) %></td>
              <td><%= listing.name %></td>
              <td><%= listing.summary %></td>
              <td><%= number_to_currency(listing.price) %></td>
              <td class="td-actions">
                <%= link_to listing, class: "btn btn-info btn-just-icon btn-sm" do %>
                    <i class="material-icons">person</i>
                <% end %>
                <%= link_to edit_listing_path(listing), class: "btn btn-success btn-just-icon btn-sm" do %>
                    <i class="material-icons">edit</i>
                <% end %>
                <%= link_to listing, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-just-icon btn-sm" do %>
                    <i class="material-icons">close</i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
