<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('<%= asset_url('register.jpg') %>');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-center">
        <h1 class="title">Forgot your password?</h1>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 ml-auto mr-auto">
        <br>
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="actions">
            <%= f.submit "Resend unlock instructions" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
        <br>
      </div>
    </div>
  </div>
</div>
<br>
